body{
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
nav{
  display: inline-block;
  width: 164px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-color: #87ceeb #ff5621;
  float: left;
  background-color: black;
  padding: 10px;
}

.nav-section-title{
  color: white;
  text-align: center;
}

a{
  color: #00fc00;
  padding-left: 10px;
}
a:visited{
  color: #ffff00;
}
main{
  display: inline-block;
  position: absolute;
  /* float: right; */
  right: 0px;
  top:0px;
  left: 184px;
  width: auto;
  height: 100vh;
  background-color: aqua;
  margin: auto;
  padding: 10px;
  overflow-y: scroll;
}
.main-title-style{
  text-align: center;
}
